/* Estilos globales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9; /* Un color de fondo claro para hacer contraste */
  color: #4b0082; /* Un violeta oscuro para el texto principal */
}

/* Estilos para el contenedor principal */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Título principal */
h1 {
  font-size: 2.5rem;
  color: #8a2be2; /* Un violeta más brillante para el título */
  margin-bottom: 0.5rem;
}

/* Descripción */
p {
  font-size: 1.2rem;
  color: #4b0082; /* Usamos el mismo violeta oscuro */
  margin-bottom: 1rem;
}

/* Línea divisoria */
hr {
  width: 80%;
  border: 1px solid #8a2be2;
  margin-bottom: 2rem;
}

/* Estilos para las etiquetas de los selects */
.label-select {
  font-size: 1rem;
  color: #4b0082; /* Violeta oscuro */
  margin-bottom: 0.5rem;
}

/* Estilos para los selects */
select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #8a2be2; /* Borde violeta brillante */
  border-radius: 5px;
  background-color: #ffffff; /* Fondo blanco para los selects */
  color: #4b0082; /* Texto violeta oscuro */
  margin-bottom: 1rem;
  width: 100%;
  max-width: 300px; /* Limitar el ancho máximo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Añadir un hover effect para los selects */
select:hover {
  border-color: #7b68ee; /* Un tono más claro al hacer hover */
}

/* Responsive */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  select {
    width: 90%;
  }
}
